<!DOCTYPE html>
<html>
<title>VibeCheck</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet2" href="/vibecheck/css/">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Poppins", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body style="background-color:#f5f2ee">

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-large w3-white">
    <div class="w3-col s4">
      <a href="/" class="w3-button w3-block">Home</a>
    </div>
    <div class="w3-col s4">
      <a href="#about" class="w3-button w3-block">About</a>
    </div>
    <div class="w3-col s4">
      <a href="#contact" class="w3-button w3-block">Contact</a>
    </div>
  </div>
</div>

<!-- Content -->
<div class="w3-content w3-padding" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  {% block content %}
  {% endblock %}

  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What is VibeCheck?</span>
    </div>

    <div class="w3-margin-bottom w3-row">
      <div class="w3-col l3 m2 w3-hide-small">&nbsp;</div>
      <div class="w3-card-4 w3-col l6 m8 s12">
        <div style="background-color:#ffffff" class="w3-container">
          <p>
            Vibecheck recommends a playlist for you based on songs you like and genres that we associate with your given mood! 
            This application was created using Python, Django, Spotify Web API, and designed with Figma and W3-CSS. Check out the Github here!</p>
          <p>
            <a style="text-decoration: none" href="https://github.com/huangk430/vibecheck" target="_blank">
              <button class="w3-button w3-light-grey w3-block">
                Github
              </button>
            </a>
          </p>
        </div>
      </div>
      <div class="w3-col l3 m2 w3-hide-small">&nbsp;</div>
    </div>
  </div>


  <!-- Grid -->
  <div class="w3-row-padding" id="contact">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">About Developer</span>
    </div>

    <div class="w3-margin-bottom w3-row">
      <div class="w3-col l3 m2 w3-hide-small">&nbsp;</div>
      <div class="w3-card-4 w3-col l6 m8 s12">
        <div style="background-color:#ffffff" class="w3-container">
          <h3>Kelly Huang</h3>
          <p class="w3-opacity">Student at UC Irvine</p>
          <p>Hello! I'm currently a student interested in full stack application development. Check out my socials and other projects on my Github.</p>
          <!-- <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
          <div class="w3-xlarge w3-center w3-margin-bottom">
            <a href="https://github.com/huangk430/" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>
            <a href="https://www.linkedin.com/in/huangk430" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>  
          </div>
        </div>
      </div>
      <div class="w3-col l3 m2 w3-hide-small">&nbsp;</div>
    </div>
  </div>

<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-center">
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>

{% block extrajs %}
{% endblock %}

</body>
</html>
