<!DOCTYPE html>
<html>
    <head>
        <title>Test Page</title>
    </head>
    <body>
        <h1>Redirected back from spotify</h1>
        <h1>Username {{ request.user.username }}</h1>
        <h1>Email {{ request.user.email }}</h1>
        <ul>
            {% for track in tracks %}
                <li>{{ track }}</li>
            {% endfor %}
        </ul>
        <p>Generate Playlist based on above tracks</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Generate Playlist</button>

        </form>
    </body>
</html>